.toolbar {
  display: flex;
  justify-content: center;
}

.searchItem {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.icon {
  color: grey;
  margin-right: 0.4rem;
}

.span {
  color: grey;
  font-size: 12px;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
}
